{% extends "base.html" %}

{% block title %}McDonald's Home{% endblock%}

  <!-- Navigation Bar -->
  {% block navbar %}
  <a class="nav-item nav-link active" href="{% url 'welcome' %}">Home<span class="sr-only">(current)</span></a>
  <a class="nav-item nav-link" href="{% url 'ourMenu' %}">Our Menu</a>
  {% endblock %}

{% block greeting %}
  {% if user.is_authenticated %}
     Welcome to MacDonald's, {{user.username}}!
  {% else %}
    Welcome to MacDonald's!
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container mb-4">
    <div class="row">

      <div class="col-sm-12  col-md-4">
        <form action="{% url 'manager' %}" method='post'>
          {% csrf_token %}
          <button name="input" id="manager" class="btn btn-lg btn-block btn-warning" type="submit" value="manager">Manager</button> 
        </form>
      </div>

      <div class="col-sm-12 col-md-4">
       <form action="{% url 'customer' %}" method='post'>
        {% csrf_token %}
        <button name="input" id="customer" class="btn btn-lg btn-block btn-warning" type="submit" value="customer">Customer</button>
      </form>
    </div>

    <div class="col-sm-12 col-md-4">
      <form action="{% url 'employee' %}" method='post'>
        {% csrf_token %}
        <button name="input" class="btn btn-lg btn-block btn-warning" type="submit" value="employee">Employee</button>
      </form>
    </div>
  </div> 
</div><br>

{% endblock %}

